/*  
    Cores do Sistema
    Azul padrão: #2688d2;
    Borda contrastante com o azul padrão: #1f6ca8;
    Cor da fonte no azul padrão: #e5e5e5;
    Cor da borda escura: #a8cfed;
    Cor da borda clara: #D5E8F7;
    Background Botao: #D5E8F7;
    Fonte Padrão: Nova Flat
*/
#Login2{
    font-family: 'Nova Flat', cursive; !important;
}

#Login2 .Div_Body_Login {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #2688d2;
    text-align: center;
    border-radius: 3px;
}

/*----------- Logo ------------*/
#Login2 .Div_Logo{
    padding-top: 20px;
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

#Login2 .Imagem_Logo{
    width: 100%;
    height: 100%;
    
}

/*----------- Log in ------------*/
#Login2 .Div_Login {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}

/*----------- Campeonatos ------------*/
#Login2 .Div_Ola_Usuario {
    text-align: center;
    color: #1f6ca8;
}

#Login2 .Div_Campeonato{
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}

#Login2 .Select_Login_Campeonato {
    width: 80%;
    text-align-last: center;
    text-align: center;
    border: 2px solid rgb(168,207,237);
    color: #2688d2;
    border-radius: 3px;
}

/*----------- Botão ------------*/
#Login2 .BotaoPadrao{
    margin: 5px;
    background-color: rgb(213,232,247);
    border: 2px solid rgb(213,232,247);
    color: #2688d2;
    border-radius: 5px;
}

#Login2 .BotaoPadrao:disabled{
    margin: 5px;
    background-color: #e5e5e5;
    border: 2px solid rgb(168,207,237);
    color: #ccc;
    border-radius: 5px;
}

#Login2 .BotaoPadrao:enabled:hover {
    cursor: pointer;
    background-color: rgb(168,207,237);
    border: 2px solid #2688d2;    
    border-radius: 5px;
}

/*----------- Modal Mensagem ------------*/
#Login2 #ModalMensagem{
    border: 1px solid #2688d2;
    border-radius: 3px;
}

#Login2 .ModalHeaderPadrao{
    border-bottom: 1px solid rgb(213,232,247);
    min-height: 16.428571429px;
    padding:10px;
    background-color: rgb(213,232,247);
    border-top-left-radius:6px;    
    border-top-right-radius:6px;    
}

#Login2 .ModalMensagemTituloModal{
    font-size: 18px;
    text-align: center;
    color: #2688d2;
    font-weight:bold;
}

#Login2 .ModalBodyPadrao{
    color: #2688d2;
    text-align: center;
}
                
#Login2 .ModalFooterPadrao {
    text-align:center;
    margin: 0 auto;
    border-top: 1px solid rgb(213,232,247);
}

#Login2 #BotaoFecharModalMensagem {

}
