@model Dictionary<NoeinModel.Horario, int>

<div class="Quadra_Horario">
    <div class="Titulo">
        Lista de Horários
    </div>
    <div id="ListaHorarios">
        @if (Model == null || Model.Count == 0)
        {
            <div class="ListaVazia">Não existem horários Cadastrados!</div>
        }
        else
        {
            <div class="ListaHorario_Titulo">
                <div class="ListaHorario_InicioTitulo">Ínicio</div>
                <div class="ListaHorario_TerminoTitulo">Término</div>
                <div class="ListaHorario_StatusTitulo">Status</div>
                <div class="ListaHorario_ExcluirTitulo">Excluir</div>
            </div>
            foreach (var item in Model)
            {
                <div class="ListaHorario_Inicio">@item.Key.Inicio.ToString("dd/MM/yyyy HH:mm")</div>
                <div class="ListaHorario_Termino">@item.Key.Fim.ToString("dd/MM/yyyy HH:mm")</div>

                if (item.Value == 0)
                {
                    <div class="ListaHorario_Status">Disponível</div>
                }
                else
                {
                    <div class="ListaHorario_Status">Jogo: @item.Value</div>
                }

                <div class="ListaHorario_Excluir"><span class="glyphicon glyphicon-trash ExcluiHorarioQuadra" aria-hidden="true"></span></div>
            }
        }
    </div>
</div>
