@using System.Linq
@{
    ViewBag.Title = "Times";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/Times.css" rel="stylesheet" type="text/css" />
}
<div class="TituloPagina">Times</div>

<div name="Body" id="Times">
    @Html.Action("Times_Listagem")
    
    @section scripts {
        <script type="text/javascript" src="~/Scripts/Personalizados/Times.js"></script>
    }

</div>